
//Global Variables

$black: #141414;
$dark-grey: #9d9d9d;
$grey: #f8f8f7;
$white: #fdfdfc;

$error: #e9390d;
$success: #2ecc71;


// Layout Imports
@import 'layout/header',
        'layout/breadcrumbs',
        'layout/product-section',
        'layout/product_details',
        'layout/interested',
        'layout/signup',
        'layout/footer';


// Layout Imports
@import 'partials/fonts',
        'partials/responsive',
        'partials/swiperJS',
        'partials/validation';


//Fonts 

$primary-font: 'Gilroy';


//Global Styles 
* {
    box-sizing: border-box;
    font-family: $primary-font;
    // font-weight: 300;
    font-style: normal;
}

a, *:link *:visited {
    color: $black;
    text-decoration: none;
}

body, html {
    margin: 0;
    scroll-behavior: smooth;
}

.flexc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexl {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.drop-shad {
    filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.03));
    -webkit-filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.03));
    -moz-filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.03));
}

.container {
    width: 1000px;
    margin: 0px auto;
}


.logo  {
    background: url('../assets/qc-logo.svg');
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    // aspect-ratio: 1 / 1.2;
}




